<!DOCTYPE html>
<html>
  <head>
    <title>Bitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.beerBackgroundURL = "<%= image_url('beer-glasses-splash-page.jpg') %>";
      window.mobileAppViewURL = "<%= image_url('masthead-img-main.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
